/*
------  COLOURS
Orange: #ff715b
Main blue: #0081AF
Dark blue: #0B4F6C
Vibrant blue: #00ABE7

Gray-ish blue: #A7BCCD
Light gray: #bcbcbc
Dirty white: #fbfbff
Dirty black: #061821
 */

h1,h2,h3,h4,h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    color: #ff715b;
    margin-bottom: 35px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 110%;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    background-color: #A7BCCD;
}

.navbar {
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    border: 0;
    -webkit-transition: background-color linear 200ms;
    -moz-transition: background-color linear 200ms;
    -o-transition: background-color linear 200ms;
    transition: background-color linear 200ms;
}

.navbar.scrolled-nav {
    background: none;
    background-color: #0B4F6C !important;
    color:#444;
    -webkit-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);

    -webkit-transition: background-color linear 200ms;
    -moz-transition: background-color linear 200ms;
    -o-transition: background-color linear 200ms;
    transition: background-color linear 200ms;
}

.navbar > .container {
    display: block;
    margin-top: 0.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}

.navbar-header {
    height: 3.5em;
}

.header-logo {
    max-height: 3em;
    margin-top: -0.9em;
    margin-right: 2.5em;
}

.navbar-item {
    margin-right: 1.1em;
}

.navbar a {
    color: #fbfbff !important;
}

.navbar a:hover {
    color: #ff715b !important;
}

.row {
    padding: 30px;
    margin-top: 50px;
}

.light-row {
    background: #fbfbff;
    color: #061821;
}

.dark-row {
     background: #061821;
     color: #fbfbff;
 }

.darkest-row {
    background: #000;
    color: #fbfbff;
}

#video-thumb {
    position:absolute;
    display: block;
    float: right;
    width: 70%;
    right: -22%;
    margin-top: -15%;
}

#video-play {
    position:absolute;
    display: block;
    float: right;
    width: 30%;
    right: 2.7%;
    margin-top: -2.4%;
}

#video-play:hover {
    content:url("../img/play-selected.png");
    cursor: pointer;
}

#video-text {
    display: block;
    float: left;
    width: 50%;
}

#video-bullets {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 110%;
    display: block;
    float: left;
    width: 100%;
    margin-bottom:5%;
}

.modal-dialog {
    width: 80%;
    top: -5%;
}

.modal-backdrop.in {
    filter: alpha(opacity=7);
    opacity: 0.7;
}

.modal-content {
    background: none;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.modal-body {
    padding: 0 25px 25px 25px;
}

.modal-header {
    padding: 25px 25px 15px 25px;
    text-align: right;
}

.modal-header, .modal-footer {
    border: 0;
}

.modal-header .close {
    float: none;
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
}

.index-ref {
    margin-top:-50px;
}

.parallax {
    background-image: url("../img/parallax.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -15px;
    margin-top: -12%;
    padding: 0;
}

.top-paint {
    width: calc(100% + 30px);
    margin-left: -15px;
}

.bot-paint {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-top: -12%;
    bottom: -12.5%;
}

.footer-paint {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-bottom: -1%;
}

footer {
    margin-top: -10%;
    background-color:#061821;
    color: #fbfbff;
    margin: 0;
    width: calc(100% + 30px);
    margin-left: -15px;
}

.footer-row {
    margin-top: -25px;
    margin-bottom: -10px;
}

.footer-logo {
    width: 150px;
}

.copyright {
    width: calc(100% + 30px);
    margin-left: -15px;
    min-height:40px;
    background-color:#000000;
}

.copyright p {
    text-align:left;
    color:#bcbcbc;
    padding:10px 0;
    margin-bottom:0px;
}

.developed-by {
    font-size: 85%;
    color: #0B4F6C !important;
    float: right;
}

.copyright-link {
    color: #0B4F6C;
}

.copyright-link:hover {
    color: #0081AF;
    text-decoration: none;
}

.acks {
    width: 400px;
    float: right;
    margin-top: 20px;
}