/*
------  COLOURS
Orange: #ff715b
Main blue: #0081AF
Dark blue: #0B4F6C
Vibrant blue: #00ABE7

Gray-ish blue: #A7BCCD
Light gray: #bcbcbc
Dirty white: #fbfbff
Dirty black: #061821
 */

h1,h2,h3,h4,h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    color: #ff715b;
    margin-bottom: 35px;
    z-index: 999;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 110%;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    background-color: #A7BCCD;
}

.navbar {
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    border: 0;
    -webkit-transition: background-color linear 200ms;
    -moz-transition: background-color linear 200ms;
    -o-transition: background-color linear 200ms;
    transition: background-color linear 200ms;
}

.navbar.scrolled-nav {
    background: none;
    background-color: #0B4F6C !important;
    color:#444;
    -webkit-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.75);

    -webkit-transition: background-color linear 200ms;
    -moz-transition: background-color linear 200ms;
    -o-transition: background-color linear 200ms;
    transition: background-color linear 200ms;
}

.navbar > .container {
    display: block;
    margin-top: 0.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}

.navbar-header {
    height: 3.5em;
}

.header-logo {
    max-height: 3em;
    margin-top: -0.9em;
    margin-right: 2.5em;
}

.navbar-item {
    margin-right: 1.1em;
}

.navbar a {
    color: #fbfbff !important;
}

.navbar a:hover {
    color: #ff715b !important;
}

.row {
    padding: 30px;
    margin-top: 50px;
}

.light-row {
    background: #fbfbff;
    color: #061821;
}

.dark-row {
     background: #061821;
     color: #fbfbff;
 }

.darkest-row {
    background: #000;
    color: #fbfbff;
}

#video-thumb {
    position:absolute;
    display: block;
    float: right;
    width: 70%;
    right: -22%;
    margin-top: -15%;
}

#video-play {
    position:absolute;
    display: block;
    float: right;
    width: 30%;
    right: 2.7%;
    margin-top: -2.4%;
}

#video-play:hover {
    content:url("../img/play-selected.png");
    cursor: pointer;
}

#video-text {
    display: block;
    float: left;
    width: 50%;
}

#video-bullets {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 110%;
    display: block;
    float: left;
    width: 100%;
    margin-bottom:5%;
}

.modal-dialog {
    width: 80%;
    top: -5%;
}

.modal-backdrop.in {
    filter: alpha(opacity=7);
    opacity: 0.7;
}

.modal-content {
    background: none;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.modal-body {
    padding: 0 25px 25px 25px;
}

.modal-header {
    padding: 25px 25px 15px 25px;
    text-align: right;
}

.modal-header, .modal-footer {
    border: 0;
}

.modal-header .close {
    float: none;
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
}

.index-ref {
    margin-top:-50px;
}

.gif-encompassing {
    padding-top: 40px;
    z-index: 1;
}

.gif-circle {
    display: inline-block;
    background-color: #0081AF;
    color: #fbfbff;
    border-radius: 100%;
    width: 58px;
    height: 58px;
}

.gif-circle > i {
    display: inline-block;
    text-align: center;
    line-height: 57px;
}

[class^="fa-"], [class*=" fa-"] {
    display: inline-block;
    width: 100%;
}

.gif-title {
    display: inline-block;
    line-height: 10px;
    padding-left: 10px;
    color: #0081AF;
}

.gif-text {
    padding-left: 75px;
    line-height: 130%;
    margin-top: -3px;
}

.second-bundle {
    padding-top: 35px;
}

.gif-animation {
    width: 100%;
    z-index: 1;
}

.bg-gif {
    position: absolute;
    margin-top: -760px;
    margin-left: -415px;
    z-index: -1;
}

.parallax {
    min-height: 500px;
    background: url("../img/parallax.jpg") no-repeat fixed center;
    background-size: cover;
    margin: -15px;
    margin-top: -12%;
    padding: 0;
}

.parallax-text {
    padding-top: 14%;
    padding-left: 5%;
}

.parallax-text > h2 {
    color: #fbfbff !important;
}

.top-paint {
    width: calc(100% + 30px);
    margin-left: -15px;
}

.bot-paint {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-top: -11.3%;
}

.parallax-badge {
    position: relative;
    height: 500px;
}

.google-badge {
    width: 300px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25%;
}

.google-badge:hover {
    content:url("../img/badge-brush.png");
    cursor: pointer;
}

.footer-paint {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-bottom: -1%;
}

footer {
    background-color:#061821;
    color: #fbfbff;
    margin: 0;
    width: calc(100% + 30px);
    margin-left: -15px;
}

.footer-row {
    margin-top: -25px;
    margin-bottom: -10px;
}

.footer-logo {
    width: 150px;
}

.copyright {
    width: calc(100% + 30px);
    margin-left: -15px;
    min-height:40px;
    background-color:#000000;
}

.copyright p {
    text-align:left;
    color:#bcbcbc;
    padding:10px 0;
    margin-bottom:0px;
}

.developed-by {
    font-size: 85%;
    color: #0B4F6C !important;
    float: right;
    margin-top:2px;
}

.copyright-link, .copyright-link:visited {
    color: #0B4F6C !important;
}

.copyright-link:hover, .copyright-link:active, .copyright-link:link {
    color: #0081AF !important;
    text-decoration: none !important;
}

.acks {
    width: 50%;
    float: right;
    margin-top: 20px;
}

.last-row {
    padding-bottom: 340px;
    margin-bottom: -250px;
    padding-top: 50px;
    margin-top: 45px;
}

.second-row {
    padding-bottom: 100px;
    margin-bottom: -10px;
}

p > a, p > a:visited {
    color: #0081AF;
}

p > a:hover, p > a:active, p > a:link {
    color: #00ABE7;
    text-decoration: none;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 450px; /* Set a default minimum width */
    margin-left: -225px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}